<!doctype html>
<html lang="en">
    <head>
        <title>Hue: {{ hue }} - Text Color</title>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
        <style>
        body {
            background-color: #e9e9e9;
        }
        .badge {
            width: 50px;
            text-align: center;
            text-shadow: none;
            font-weight: normal;
            font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
        }            
        </style>
    </head>
    <body>
        <div class="container">
            <div style="padding-top: 1em; padding-bottom: 2em">
                <h1>Hue of {{ hue }}°</h1>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Color</th>
                    <th>Text Color</th>
                    <th>Saturation</th>
                    <th>Value</th>
                </tr>
                </thead>

                <tbody>
                    {% for answer in answers %}
                        <tr>
                        <td>
                            <div class="label badge" style="background-color: #{{ answer.color }}; color: #{{ answer.text_color }}">
                                {{ answer.color }}
                            </div>
                        </td>
                        <td><code>{{ answer.color }}</code></td>
                        <td><code>{{ answer.text_color }}</code></td>
                        <td>{{ answer.color_s }}</td>
                        <td>{{ answer.color_v }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>